<div class="row">
  <div class="col-md-6">
    <%= paginate @dishes %>
    <div class="list-group">
      <% @dishes.each do |dish| %>
      <%= link_to menu_path(id: @current_menu.id, dish: dish.id, page: params[:page]) do %>
      <button class="list-group-item"><%= dish.name %>
        <span class="label label-default label-pill pull-right"><%= number_to_currency(dish.price, :unit => 'VND', precision: 0) %></span>
      </button>
      <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-md-6 panel-dish">
    <% if @current_dish.present? %>
    <div class="card">
      <img alt="<%= @current_dish.name%>" class="card-img-top" src="<%= @current_dish.image_url%>" style="width: 280px; height: 180px">
      <div class="card-block">
        <%= link_to dish_path(id: @current_dish.id) do %>
        <h4 class="card-title"><%= @current_dish.name%></h4>
        <% end %>
        <p class="card-text panel-dish-description-preview"><%= @current_dish.description%></p>
        <%= link_to new_order_path(dish: @current_dish.id) do %>
        <button class="btn btn-primary">Order</button>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
