<% content_for :navigation do %>
<a class="nav-link" href="/">Home</a>
<a class="nav-link active" href="/menus">Menu</a>
<a class="nav-link" href="/contact">Contact Us</a>
<% end %>

<p id="notice"><%= notice %></p>

<div class="card">
  <div class="card-block">
    <p class="card-text">
      <strong>Name:</strong>
      <%= @order.name %>
    </p>

    <p class="card-text">
      <strong>Phone:</strong>
      <%= @order.phone %>
    </p class="card-text">

    <p class="card-text">
      <strong>Address:</strong>
      <%= @order.address %>
    </p class="card-text">

    <p class="card-text">
      <strong>Total price:</strong>
      <%= number_to_currency(@order.total_price, :unit => 'VND', precision: 0) %>
    </p class="card-text">

    <p class="card-text">
      <strong>Discount rate:</strong>
      <%= @order.discount_rate %>
    </p>

    <p class="card-text">
      <strong>Dish:</strong>
      <%= @order.dish.name %>
    </p>

    <p class="card-text">
      <strong>Create time:</strong>
      <%= @order.dish.created_at.strftime('%c') %>
    </p>
    <a class="btn btn-lg btn-secondary" href="/menus">See Menu now</a>
  </div>
</div>
