<div class="row">
  <div class="col-md-6 panel-dish">
    <% if @dish.present? %>
    <div class="card">
      <img alt="<%= @dish.name%>" class="card-img-top" src="<%= @dish.image_url%>" style="width: 280px; height: 180px">
      <div class="card-block">
        <h4 class="card-title"><%= @dish.name%></h4>
        <div class="panel-dish-description">
          <p class="card-text"><%= @dish.description%></p>
        </div>
        <%= link_to new_order_path(dish: @dish.id) do %>
        <button class="btn btn-primary">Order</button>
        <% end %>
        <%= link_to dish_path(review: true) do %>
        <button class="btn btn-success">Review</button>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
  <div class="col-md-6 panel-review">
    <% if params[:review] %>
      <%= render 'review.add' %>
    <% else %>
      <%= render 'reviews.show' %>
    <% end %>
  </div>
</div>
